body {
	position: relative;
	background-color: #000000;
	font-family: "Courier New", Courier, monospace;
	color: #2bb7ee;
}

#title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

#instruction, #alerts {
	text-align: center;
	font-size: 12px;
}

#main-content {
	width: 100%; 
	max-width: 960px; 
	margin: 0 auto; 
}

.panel {
	background-color: #000000;
	padding: 20px;
	margin: 10px;
}

#word-display {
	text-align: center;
	font-size: 32px;
	padding: 10px;
	padding-bottom: 20px;
}

#general-display {
	text-align: center;
	font-size: 16px;
}

#restart-button {
	text-align: center;
	font-size: 18px;
	padding: 10px 20px;
	background-color: #000000;
	color: #2bb7ee;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Courier New", Courier, monospace;
}


@media screen and (max-width: 600px) {
	#word-display {
		font-size: 24px; 
	}

	#general-display {
		font-size: 14px; 
	}

	#restart-button {
		font-size: 16px; /
	}
}